absl-py==0.8.1
aiohttp==3.6.2
alabaster==0.7.12
aniso8601==8.0.0
ansible==2.8.5
ansible-lint==4.1.0
anytree==2.7.1
apex==0.1
apipkg==1.5
appdirs==1.4.3
Archey3==0.4.1
argh==0.26.2
asciinema==2.0.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
Automat==0.7.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
bcrypt==3.1.7
Beaker==1.11.0
beautifulsoup4==4.8.0
bleach==3.1.0
blessed==1.15.1
blinker==1.4
borgbackup==1.1.10
boto3==1.9.150
botocore==1.12.150
bottle==0.12.17
Brlapi==0.7.0
brotlipy==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.5
cached-property==1.5.1
cachetools==3.1.1
cachy==0.2.0
caffeine-ng==3.4.2
capstone==4.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cleo==0.6.8
cli-helpers==1.2.0
Click==7.0
colorama==0.4.1
ConfigArgParse==0.15
configobj==5.0.6
conllu==2.2
constantly==15.1.0
construct==2.9.45
coverage==4.5.4
cryptography==2.7
cssutils==1.0.2
cycler==0.10.0
Cython==0.29.13
decorator==4.4.1
defusedxml==0.6.0
deluge==2.0.3
distlib==0.2.9
distro==1.4.0
dnspython==1.16.0
docker==4.1.0
docker-compose==1.24.1
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
EditorConfig==0.12.2
entrypoints==0.3
eventlet==0.25.1
ewmh==0.1.6
fasteners==0.14.1
fido2==0.7.1
flake8==3.7.8
Flask==1.1.1
Flask-RESTful==0.3.7
future==0.18.0
gast==0.3.2
GeoIP==1.3.2
gevent==1.4.0
gevent-websocket==0.10.1
google-auth==1.6.3
google-auth-oauthlib==0.4.1
greenlet==0.4.15
grpcio==1.24.3
gunicorn==19.9.0
h11==0.8.1
h2==3.1.1
h5py==2.9.0
hpack==3.0.0
html2text==2019.8.11
html5lib==1.0.1
httpie==1.0.3
httplib2==0.13.1
humanize==0.5.1
humpty==0.2.1
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
iniconfig==1.0.0
iotop==0.6
ipdb==0.12.2
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isc==2.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.13.2
jsbeautifier==1.10.2
jsonschema==3.0.2
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kaitaistruct==0.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
ldap3==2.6.1
lensfun==0.3.2
lit==0.9.0.dev0
lockfile==0.12.2
louis==3.11.0
lxml==4.4.1
Mako==1.0.14
mallard-ducktype==1.0.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
meson==0.52.0
mistune==0.8.4
mitmproxy==4.0.4
mock==3.0.5
monotonic==1.5
more-itertools==4.3.0
mpi4py==3.0.2
msgpack==0.6.2
multidict==4.5.2
mypy==0.730
mypy-extensions==0.4.1
namcap==3.2.7
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.9
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numpy==1.17.2
oauthlib==3.1.0
olefile==0.46
opendht==1.10.1
packaging==19.2
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.1
passlib==1.7.1
pastel==0.1.0
pathtools==0.1.2
pbr==5.4.3
pep517==0.6.0
pew==1.2.0
pexpect==4.7.0
pgcli==2.1.0
pgspecial==1.11.5
phue==1.1
pickleshare==0.7.5
Pillow==6.1.0
pipenv==2018.11.15.dev0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.7.0
psutil==5.6.3
psycopg2==2.7.7
ptyprocess==0.6.0
pwquality==1.4.1
py==1.8.0
py4j==0.10.7
pyalpm==0.8.5
pyasn1==0.4.7
pyasn1-modules==0.2.6
PyAudio==0.2.11
pybind11==2.4.2
pycairo==1.18.1
pycodestyle==2.5.0
pycountry==19.8.18
pycparser==2.19
pycryptodome==3.9.0
pycryptodomex==3.9.0
pycuda==2019.1.2
pydocstyle==4.0.1
pyelftools==0.25
pyflakes==2.1.1
pyglet==1.4.2
Pygments==2.4.2
PyGObject==3.34.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylev==1.3.0
pylint==2.3.1
PyNaCl==1.3.0
pynvim==0.3.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyPEG2==2.15.2
pyperclip==1.6.5
PyQt5==5.13.1
PyQt5-sip==4.19.19
PyQtWebEngine==5.13.1
pyrsistent==0.14.11
pyscard==1.9.9
pysigset==0.3.2
PySocks==1.7.0
pytest==5.2.1
pytest-runner==5.1
python-dateutil==2.8.1
python-engineio==3.3.1
python-jsonrpc-server==0.2.0
python-language-server==0.29.1
python-libtorrent==1.1.13
python-magic==0.4.15
python-ptrace==0.9.4
python-socketio==3.1.2
python-xapp==1.6.0
python-xlib==0.25
pytoml==0.1.21
pytools==2019.1.1
pytz==2019.3
pyusb==1.0.2
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.1
qutebrowser==1.8.1
ranger-fm==1.9.2
razercfg==0.41
regex==2019.4.14
rencode==1.0.6
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
retrying==1.3.3
rope==0.14.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
rubber==1.5.1
s3cmd==2.0.2
s3transfer==0.2.0
sacremoses==0.0.35
scikit-learn==0.21.1
scipy==1.3.0
scons==3.1.1
scour==0.37
scruffington==0.3.7
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
sentencepiece==0.1.83
service-identity==18.1.0
setproctitle==1.1.10
shellingham==1.3.1
simplegeneric==0.8.1
sip==4.19.19
six==1.13.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==1.9.4
speedtest-cli==2.1.2
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.9
sqlparse==0.2.4
sshuttle==0.78.5
stevedore==1.31.0
streamlink==1.2.0
tabulate==0.8.3
tb-nightly==2.1.0a20191024
team==1.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
tensorflow-serving-api==1.14.0rc0
tensorflow-serving-api-gpu==1.14.0rc0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
texttable==1.6.2
toml==0.10.0
tomlkit==0.5.5
torch==1.3.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.3
transformers==2.1.1
Twisted==19.7.0
typed-ast==1.4.0
typing-extensions==3.7.4
ufw==0.36
ujson==1.35
unicorn==1.0.1
Unidecode==1.1.1
urllib3==1.24.3
urwid==2.0.1
virtualenv==16.1.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
websockets==8.0.2
Werkzeug==0.16.0
Whoosh==2.7.4
widgetsnbextension==3.5.0
wrapt==1.11.2
wsproto==0.15.0
xkcdpass==1.17.3
xlrd==1.2.0
yapf==0.28.0
yarl==1.3.0
youtube-dl==2019.10.16
yubikey-manager==3.1.0
zipp==0.6.0
zope.interface==4.6.0
